# Install Python 2.7 32bit
# c:\Python27\python -m pip install virtualenv
# c:\Python27\python -m virtualenv venv
# .\venv\Scripts\pip.exe install -r requirements.txt

# set PYTHONPATH=.
# .\venv\Scripts\python matlab_wrapper/test/__main__.py

--index-url https://pypi.metamorphsoftware.com/
--extra-index-url https://pypi.python.org/simple
numpy==1.10.4
scipy==0.17.0
smop==0.23+g555221c
six==1.10.0
openmdao==1.6.0

-e matlab_proxy
