# Install Python 2.7 32bit
# c:\Python27\python -m pip install virtualenv
# c:\Python27\python -m virtualenv venv
# .\venv\Scripts\pip.exe install -r requirements.txt

# set PYTHONPATH=.
# .\venv\Scripts\python matlab_wrapper/test/__main__.py

--index-url https://pypi.metamorphsoftware.com/
--extra-index-url https://pypi.python.org/simple
numpy==1.22.4; sys_platform == 'win32'
numpy; sys_platform != 'win32'
scipy==1.8.1; sys_platform == 'win32'
scipy; sys_platform != 'win32'
smop==0.23+g9bf6295
six~=1.10.0
openmdao==1.*

-e matlab_proxy


# networkx==2.6.3
# openmdao 1.7.4 requires networkx==1.11, but you have networkx 2.6.3 which is incompatible.
